---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1075528,
            "kind": "project",
            "name": "Berner and Allar's TrackerHub",
            "version": 13,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Denver",
              "offset": "-06:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": true,
            "atom_enabled": false,
            "start_time": "2014-05-05T06:00:00Z",
            "created_at": "2014-05-07T19:18:45Z",
            "updated_at": "2014-05-07T19:46:34Z",
            "account_id": 622370,
            "current_iteration_number": 1,
            "enable_following": true
          },
          {
            "id": 1048234,
            "kind": "project",
            "name": "URL Shortener - Sinatra",
            "version": 59,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "[...]
